$fontstack1: "ClashGrotesk", sans-serif
$fontstack2: "Inter", sans-serif
$fontstack3: "CabinetGrotesk", sans-serif

$basecolor: #010100
$basecolor1: #ff5940
$basecolor2: #1A6343
$basecolor3: #1A5763

$text: #8E9194

$black: #000
$white: #fff
